
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>memberIndex</title>
</head>
<body>
    <div> 
        <h1>
            組長:李翊銘<br/>
            組員:方光明    王韋鈞    柯宣安    張維哲
        </h1>

    </div>
</body>
</html>
